<template>
  <div id="app">
    <div class="launcher" v-if="!playGame">
      <span>Поле:</span>
      <input type="text" class="input-param" :class="{ error: isErrorW }" v-model="countW">
      <span>X</span>
      <input type="text" class="input-param" :class="{ error: isErrorH }" v-model="countH">
      <br>
      <span v-if="isErrorW" class="errText">Поле не должно быть пустым и содержать только числа от 5 до 20</span>
      <span v-if="isErrorH" class="errText">Поле не должно быть пустым и содержать только числа от 5 до 16</span>
      <br>
      <button class="start-button" @click="startGame">НАЧАТЬ</button>
    </div>
    <div class="game" v-if="playGame">
      <game :place-size="[+countW, +countH]" @end-game="endGame"/>
    </div>
  </div>
</template>

<script>
import Game from './components/Game'

export default {
  name: 'app',

  components: {
    Game,
  },

  data() {
    return {
      countW: "10",
      countH: "10",
      playGame: false,
      isErrorW: false,
      isErrorH: false,
    }
  },

  methods: {
    startGame() {
      if (!this.countW.match(/^\d+$/) || this.countW < 5 || this.countW > 20) {
        this.isErrorW = true;
      } else if (!this.countH.match(/^\d+$/) || this.countH < 5 || this.countH > 16) {
        this.isErrorW = false;
        this.isErrorH = true;
      } else {
        this.isErrorW = false;
        this.isErrorH = false;
        this.playGame = true;
      }
    },

    endGame() {
      this.playGame = false;
    }
  }
}
</script>

<style scoped>
  .launcher {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  }

  .input-param {
    width: 50px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
  }

  .start-button {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 30px;
  }
  .start-button:focus {
    outline: none;
  }
  .start-button:active {
    width: 190px;
    height: 75px;
    background-color: #DCDCDC;
    font-size: 28px;
  }

  .error {
    border: 1px solid red;
  }

  .errText {
    color: red;
    font-size: 12px;
  }
</style>

<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>