<template>
    <div id="main"></div>
</template>

<script>
/* eslint no-unused-vars: "off" */

import * as PIXI from 'pixi.js'

let app = null;
let stage = null;
let container = null;

export default {
    props: ['placeSize'],

    data() {
        return {
            columns: this.placeSize[1],
            rows: this.placeSize[0],
            score: 0,
            scoreText: null,
            exitText: null,
            weightMatrix: [],
            objectMatrix: [],
            indexes: [],
            removedWeights: [],
            flagForRemoveWeights: false,
            choosenFigures: [],
            moveCount: 1,
        }
    },

    methods: {
        init() {
            app = new PIXI.Application({
                forceCanvas: true,
            });
            stage = app.stage;
            container = new PIXI.Container();

            stage.addChild(container);

            app.renderer.view.style.position = "absolute";
            app.renderer.view.style.display = "block";
            app.renderer.autoResize = true;
            app.renderer.resize(window.innerWidth, window.innerHeight);

            document.getElementById("main").appendChild(app.view);
            app.renderer.backgroundColor = 0x87CEFA;

            let style = new PIXI.TextStyle({
                fontFamily: "Arial",
                fontSize: 36,
                letterSpacing: 3,
                fill: "#C71585",
                stroke: "#FF4500",
                strokeThickness: 4,
                dropShadow: true,
                dropShadowColor: "#000000",
                dropShadowBlur: 4,
                dropShadowAngle: Math.PI / 6,
                dropShadowDistance: 6,
            });
            this.scoreText = new PIXI.Text("SCORE: " + this.score, style);
            this.scoreText.x = 20;
            this.scoreText.y = 15;
            stage.addChild(this.scoreText);

            this.exitText = new PIXI.Text("ВЫХОД", style);
            this.exitText.interactive = true;
            this.exitText.buttonMode = true;
            this.exitText.anchor.x = 0.5;
            this.exitText.anchor.y = 0.5;
            this.exitText.x = app.renderer.view.width - 110;
            this.exitText.y = app.renderer.view.height - 40;
            this.exitText
                .on('mousedown', this.exitButtonDown)
                .on('mouseupoutside', this.exitButtonUp)
                .on('mouseup', this.exit);
            stage.addChild(this.exitText);
        },

        spriteSetup() {
            for (let i = 0; i < this.columns; i++) {
                this.objectMatrix[i] = [];
                for (let j = 0; j < this.rows; j++) {
                    switch(this.weightMatrix[i][j]) {
                        case 0: {
                            this.objectMatrix[i][j] = 0;
                            break;
                        }
                        case 1: {
                            this.objectMatrix[i][j] = new PIXI.Sprite.from(require("@/assets/figures/circle.png"));
                            this.objectMatrix[i][j].anchor.set(0.5);
                            this.objectMatrix[i][j].interactive = true;
                            this.objectMatrix[i][j].buttonMode = true;
                            this.objectMatrix[i][j].on('click', this.makeMove.bind(this, i, j));
                            break;
                        }
                        case 2: {
                            this.objectMatrix[i][j] = new PIXI.Sprite.from(require("@/assets/figures/triangle.png"));
                            this.objectMatrix[i][j].anchor.set(0.5);
                            this.objectMatrix[i][j].interactive = true;
                            this.objectMatrix[i][j].buttonMode = true;
                            this.objectMatrix[i][j].on('click', this.makeMove.bind(this, i, j));
                            break;
                        }
                        case 3: {
                            this.objectMatrix[i][j] = new PIXI.Sprite.from(require("@/assets/figures/square.png"));
                            this.objectMatrix[i][j].anchor.set(0.5);
                            this.objectMatrix[i][j].interactive = true;
                            this.objectMatrix[i][j].buttonMode = true;
                            this.objectMatrix[i][j].on('click', this.makeMove.bind(this, i, j));
                            break;
                        }
                        case 4: {
                            this.objectMatrix[i][j] = new PIXI.Sprite.from(require("@/assets/figures/pentagon.png"));
                            this.objectMatrix[i][j].anchor.set(0.5);
                            this.objectMatrix[i][j].interactive = true;
                            this.objectMatrix[i][j].buttonMode = true;
                            this.objectMatrix[i][j].on('click', this.makeMove.bind(this, i, j));
                            break;
                        }
                        case 5: {
                            this.objectMatrix[i][j] = new PIXI.Sprite.from(require("@/assets/figures/hexagon.png"));
                            this.objectMatrix[i][j].anchor.set(0.5);
                            this.objectMatrix[i][j].interactive = true;
                            this.objectMatrix[i][j].buttonMode = true;
                            this.objectMatrix[i][j].on('click', this.makeMove.bind(this, i, j));
                            break;
                        }
                    }
                }
            }
            this.drawObjectMatrix();
        },

        exitButtonDown() {
            this.exitText.scale.set(0.9);
        },

        exitButtonUp() {
            this.exitText.scale.set(1.0);
        },

        exit() {
            this.exitText.scale.set(1.0);
            container.destroy();
            container = null;
            app.destroy();
            this.$emit('end-game');
        },

        updateSize() {
            app.renderer.resize(window.innerWidth, window.innerHeight);
            this.exitText.x = app.renderer.view.width - 110;
            this.exitText.y = app.renderer.view.height - 40;
            container.x = app.renderer.view.width / 2;
            container.y = app.renderer.view.height / 2;
        },

        initMatrix() {
            for (let i = 0; i < this.columns; i++) {
                this.weightMatrix[i] = [];
                for (let j = 0; j < this.rows; j++) {
                    this.weightMatrix[i][j] = Math.floor(Math.random() * 5 + 1);
                }
            }
            let hasMatches = this.checkMatch();
            let hasAvailiableMoves = this.checkAvailableMoves();
            while (hasMatches || !hasAvailiableMoves) {
                hasMatches = this.checkMatch();
                hasAvailiableMoves = this.checkAvailableMoves();
                while (hasMatches) {
                    this.removeMatches();
                    hasMatches = this.checkMatch();
                }
                while (!hasAvailiableMoves) {
                    this.shuffleMatrix();
                    hasAvailiableMoves = this.checkAvailableMoves();
                }
            }
        },

        drawObjectMatrix() {
            if (container != null) container.destroy();
            container = new PIXI.Container();
            stage.addChild(container);
            for (let i = 0; i < this.columns; i++) {
                for (let j = 0; j < this.rows; j++) {
                    if (this.objectMatrix[i][j] != 0) {
                        this.objectMatrix[i][j].x = j * 40;
                        this.objectMatrix[i][j].y = i * 40;
                        container.addChild(this.objectMatrix[i][j]);
                    }
                }
            }
            container.x = app.renderer.view.width / 2;
            container.y = app.renderer.view.height / 2;
            container.pivot.x = container.width / 2;
            container.pivot.y = container.height / 2;
        },

        shuffleMatrix() {
            alert("Нет возможных ходов, перемешиваем!");
            for (let i = 0; i < this.columns; i++) {
                for (let j = 0; j < this.rows; j++) {
                    let k = Math.floor(Math.random() * i),
                        l = Math.floor(Math.random() * j);
                    let b = this.weightMatrix[i][j];
                    this.weightMatrix[i][j] = this.weightMatrix[k][l];
                    this.weightMatrix[k][l] = b;
                }
            }
            this.spriteSetup();
        },

        checkAvailableMoves() {
            let movesMatrix = [];

            for (let i = 0; i < this.columns; i++) {
                movesMatrix[i] = [];
                for (let j = 0; j < this.rows; j++) {
                    movesMatrix[i][j] = {
                            up1: false,
                            up2: false,
                            up3: false,
                            up4: false,
                            right1: false,
                            right2: false,
                            right3: false,
                            right4: false,
                            down1: false,
                            down2: false,
                            down3: false,
                            down4: false,
                            left1: false,
                            left2: false,
                            left3: false,
                            left4: false,
                        };
                    if ((i - 2) >= 0 && (j - 1) >= 0) {
                        movesMatrix[i][j].up1 = true;
                    }
                    if ((i - 1) >= 0 && (j - 1) >= 0 && (i + 1) < this.columns)
                        movesMatrix[i][j].up2 = true;
                    if ((j - 3) >= 0)
                        movesMatrix[i][j].up3 = true;
                    if ((i + 2) < this.columns && (j - 1) >= 0)
                        movesMatrix[i][j].up4 = true;
                    if ((i + 1) < this.columns && (j - 2) >= 0)
                        movesMatrix[i][j].right1 = true;
                    if ((i + 1) < this.columns && (j - 1) >= 0 && (j + 1) < this.rows)
                        movesMatrix[i][j].right2 = true;
                    if ((i + 3) < this.columns )
                        movesMatrix[i][j].right3 = true;
                    if ((i + 1) < this.columns && (j + 2) < this.rows)
                        movesMatrix[i][j].right4 = true;
                    if ((i + 2) < this.columns && (j + 1) < this.rows)
                        movesMatrix[i][j].down1 = true;
                    if ((i - 1) >= 0 && (i + 1) < this.columns && (j + 1) < this.rows)
                        movesMatrix[i][j].down2 = true;
                    if ((j + 3) < this.rows)
                        movesMatrix[i][j].down3 = true;
                    if ((i - 2) >= 0 && (j + 1) < this.rows)
                        movesMatrix[i][j].down4 = true;
                    if ((i - 1) >= 0 && (j + 2) < this.rows)
                        movesMatrix[i][j].left1 = true;
                    if ((i - 1) >= 0 && (j - 1) >= 0 && (j + 1) < this.rows)
                        movesMatrix[i][j].left2 = true;
                    if ((i - 3) >= 0)
                        movesMatrix[i][j].left3 = true;
                    if ((i - 1) >= 0 && (j - 2) >= 0)
                        movesMatrix[i][j].left4 = true;
                }
            }

            for (let i = 0; i < this.columns; i++)
                for (let j = 0; j < this.rows; j++) {
                    let weight = this.weightMatrix[i][j];
                    if (movesMatrix[i][j].up1) {
                        if (weight == this.weightMatrix[i-2][j-1] && weight == this.weightMatrix[i-1][j-1])
                            return true;
                    }
                    if (movesMatrix[i][j].up2) {
                        if (weight == this.weightMatrix[i-1][j-1] && weight == this.weightMatrix[i+1][j-1])
                            return true;
                    }
                    if (movesMatrix[i][j].up3) {
                        if (weight == this.weightMatrix[i][j-3] && weight == this.weightMatrix[i][j-2])
                            return true;
                    }
                    if (movesMatrix[i][j].up4) {
                        if (weight == this.weightMatrix[i+1][j-1] && weight == this.weightMatrix[i+2][j-1])
                            return true;
                    }
                    if (movesMatrix[i][j].right1) {
                        if (weight == this.weightMatrix[i+1][j-2] && weight == this.weightMatrix[i+1][j-1])
                            return true;
                    }
                    if (movesMatrix[i][j].right2) {
                        if (weight == this.weightMatrix[i+1][j-1] && weight == this.weightMatrix[i+1][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].right3) {
                        if (weight == this.weightMatrix[i+2][j] && weight == this.weightMatrix[i+3][j])
                            return true;
                    }
                    if (movesMatrix[i][j].right4) {
                        if (weight == this.weightMatrix[i+1][j+2] && weight == this.weightMatrix[i+1][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].down1) {
                        if (weight == this.weightMatrix[i+1][j+1] && weight == this.weightMatrix[i+2][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].down2) {
                        if (weight == this.weightMatrix[i-1][j+1] && weight == this.weightMatrix[i+1][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].down3) {
                        if (weight == this.weightMatrix[i][j+2] && weight == this.weightMatrix[i][j+3])
                            return true;
                    }
                    if (movesMatrix[i][j].down4) {
                        if (weight == this.weightMatrix[i-2][j+1] && weight == this.weightMatrix[i-1][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].left1) {
                        if (weight == this.weightMatrix[i-1][j+1] && weight == this.weightMatrix[i-1][j+2])
                            return true;
                    }
                    if (movesMatrix[i][j].left2) {
                        if (weight == this.weightMatrix[i-1][j-1] && weight == this.weightMatrix[i-1][j+1])
                            return true;
                    }
                    if (movesMatrix[i][j].left3) {
                        if (weight == this.weightMatrix[i-3][j] && weight == this.weightMatrix[i-2][j])
                            return true;
                    }
                    if (movesMatrix[i][j].left4) {
                        if (weight == this.weightMatrix[i-1][j-2] && weight == this.weightMatrix[i-1][j-1])
                            return true;
                    }
                }

            return false;
        },

        checkMatch() {
            this.indexes = [];
            for (let i = 0; i < this.columns; i++) {
                let count = 1;
                for (let j = 1; j < this.rows; j++) {
                    if (this.weightMatrix[i][j] == this.weightMatrix[i][j-1] && this.weightMatrix[i][j] != 0) {
                        count++;
                    } else {
                        if (count > 2) {
                            for (let k = count; k > 0; k--) {
                                let _b = j - k;
                                this.indexes.push({a: i, b: _b});
                                this.removedWeights.push(this.weightMatrix[i][j-1]);
                            }
                        }
                        count = 1;
                    }
                }
                if (count > 2) {
                    for (let k = count; k > 0; k--) {
                        let _b = this.rows - k;
                        this.indexes.push({a: i, b: _b});
                    }
                    for (let k = 0; k < count; k++) {
                        this.removedWeights.push(this.weightMatrix[i][this.rows-1]);
                    }
                }
            }
            for (let i = 0; i < this.rows; i++) {
                let count = 1;
                for (let j = 1; j < this.columns; j++) {
                    if (this.weightMatrix[j][i] == this.weightMatrix[j-1][i] && this.weightMatrix[j][i] != 0) {
                        count++;
                    } else {
                        if (count > 2) {
                            for (let k = count; k > 0; k--) {
                                let _a = j - k;
                                this.indexes.push({a: _a, b: i});
                                this.removedWeights.push(this.weightMatrix[j-1][i]);
                            }
                        }
                        count = 1;
                    }
                }
                if (count > 2) {
                    for (let k = count; k > 0; k--) {
                        let _a = this.columns - k;
                        this.indexes.push({a: _a, b: i});
                    }
                    for (let k = 0; k < count; k++) {
                        this.removedWeights.push(this.weightMatrix[this.columns-1][i]);
                    }
                }
            }
            if (this.indexes.length > 0) return true;
            return false;
        },

        removeMatches() {
            for (let i = 0; i < this.indexes.length; i++) {
                this.weightMatrix[this.indexes[i].a][this.indexes[i].b] = 0;
                if (container != null && container.children.length > 0) {
                    container.removeChild(this.objectMatrix[this.indexes[i].a][this.indexes[i].b]);
                }
            }
            this.moveDown();
        },

        moveDown() {
            for (let i = this.columns - 1; i > 0; i--) {
                for (let j = 0; j < this.rows; j++) {
                    if (this.weightMatrix[i][j] == 0) {
                        for (let k = i - 1; k >= 0; k--) {
                            if (this.weightMatrix[k][j] != 0) {
                                this.weightMatrix[i][j] = this.weightMatrix[k][j];
                                this.weightMatrix[k][j] = 0;
                                break;
                            }
                        }
                    }
                }
            }
            this.fillDeleted();
        },

        fillDeleted() {
            for (let i = 0; i < this.columns; i++) {
                for (let j= 0; j < this.rows; j++) {
                    if (this.weightMatrix[i][j] == 0) {
                        this.weightMatrix[i][j] = Math.floor(Math.random() * 5 + 1);
                    }
                }
            }
            this.spriteSetup();
        },

        makeMove(i, j) {
            if (this.choosenFigures.length == 0) {
                this.choosenFigures.push([i, j]);
            } else if (this.choosenFigures.length == 1) {
                let _i = this.choosenFigures[0][0];
                let _j = this.choosenFigures[0][1];
                if ((((i == _i + 1) || (i == _i - 1)) && (j == _j)) || ((i == _i) && ((j == _j + 1) || (j == _j - 1)))) {
                    // поменять местами фигуры
                    let f = this.weightMatrix[i][j];
                    let o = this.objectMatrix[i][j];
                    this.weightMatrix[i][j] = this.weightMatrix[_i][_j];
                    this.weightMatrix[_i][_j] = f;
                    this.objectMatrix[i][j] = this.objectMatrix[_i][_j];
                    this.objectMatrix[_i][_j] = o;

                    this.changeScore(); // удалит лишние веса из подсчёта очков, которые добавлялись при начальной конфигурации
                    if (this.checkMatch()) {
                        this.removeMatches();
                        this.flagForRemoveWeights = true;
                        this.changeScore();
                        this.flagForRemoveWeights = false;
                        // this.checkAfterMove();
                    } else {
                        f = this.weightMatrix[i][j];
                        let o = this.objectMatrix[i][j];
                        this.weightMatrix[i][j] = this.weightMatrix[_i][_j];
                        this.weightMatrix[_i][_j] = f;
                        this.objectMatrix[i][j] = this.objectMatrix[_i][_j];
                        this.objectMatrix[_i][_j] = o;
                    }
                }
                this.choosenFigures.pop();
                this.checkAfterMove();
            }
        },

        changeScore() {
            if (this.flagForRemoveWeights && this.removedWeights.length > 0) {
                let count = 1;
                this.removedWeights.push(0);
                for (let i = 1; i < this.removedWeights.length; i++) {
                    if (this.removedWeights[i] == this.removeMatches[i-1]) {
                        count++;
                    } else {
                        this.score += count * this.removedWeights[i-1];
                        count = 1;
                    }
                }
                this.scoreText.text = "SCORE: " + this.score;
                let n = this.removedWeights.length;
                for (let i = 0; i < n; i++) {
                    this.removedWeights.pop();
                }
            } else {
                let n = this.removedWeights.length;
                for (let i = 0; i < n; i++) {
                    this.removedWeights.pop();
                }
            }
        },

        checkAfterMove() {
            let hasMatches = this.checkMatch();
            let hasAvailiableMoves = this.checkAvailableMoves();
            this.changeScore();
            while (hasMatches || !hasAvailiableMoves) {
                while (hasMatches) {
                    this.removeMatches();
                    this.flagForRemoveWeights = true;
                    this.changeScore();
                    this.flagForRemoveWeights = false;
                    hasMatches = this.checkMatch();
                }
                while (!hasAvailiableMoves) {
                    this.shuffleMatrix();
                    hasAvailiableMoves = this.checkAvailableMoves();
                }
                hasMatches = this.checkMatch();
                hasAvailiableMoves = this.checkAvailableMoves();
            }
        }
    },

    mounted() {
        this.init();
        this.initMatrix();
    },

    created() {
        window.addEventListener('resize', this.updateSize);
    }
}
</script>

<style scoped>
    
</style>